.stick {
  position: relative;
  width: 9px;
  height: 81px;

  transform-origin: bottom center;
  transition: transform 1s ease;
}

.down {
  transform: scaleY(1);
}

.up {
  transform: scaleY(-1);
}

.ball {
  position: absolute;
  width: 32px;
  height: 32px;
  transform: translate(-50%, -50%);
  transition: all 1s ease;
}

.ball.down {
  top: calc(100% - 81px);
  left: 50%;
}

.ball.up {
  top: calc(100% + 81px);
  left: 50%;
}
