@import "tailwindcss";

@font-face {
  font-family: "Poetsen One";
  src: url("/fonts/PoetsenOne-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

:root {
  --font-default: "Poetsen One", sans-serif;
}

#root {
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  border-inline: 1px solid var(--border);
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  font-family: var(--font-default);
}

body {
  margin: 0;
  background-color: #daf3a6;
  font-family: var(--font-default);
}

h1,
h2 {
  font-weight: 500;
}

p {
  margin: 0;
}

.textShadow {
  text-shadow: 0 4px 0 rgba(0, 0, 0, 0.8);
}
.textShadowTitle {
  text-shadow:
    0 5px 0 #c78119,
    0 1px 0 #ffdca8;
}
.textShadowSmallTitle {
 text-shadow: 0 4px  0 rgba(0, 0, 0, 0.1);
  -webkit-text-stroke: 1px #341D1A;
}
